{% extends "main.html" %}


{% block content %}
  <div class="panel panel-default pnl">
		<div class="panel-heading" >
			<div class="post-title pnl-title">
			    <h3>Are You sure want to delete {{CategoryToDelete.name}}?</h3>
			</div>
		</div>
		<div class="panel-body pnl-body">

				<form method="post" class="pnl-title">
                 <input type="submit" value='Delete' class="btn btn-primary mrgn">
                 <a href="{{url_for('showNews',Category_id=CategoryToDelete.id)}}" class="btn btn-primary mrgn">cancel</a>
                 <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			</form>

		</div>

	</div>
{% endblock %}