<!DOCTYPE html>
<html>
<head>
	<title>News Catalogue</title>
	<link rel="stylesheet" href="/home/ashish/Documents/ch-5/news/static/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
          
                     <a  href="#">Home </a>
                
                    <a href="category.html">Category</a>
                
                     <a  href="#">Trending News</a>

                     <a href="#">About Us</a>
                
        	
        </div>
    	
    </div>
</body>
</html>